<div class="flex flex-col gap-4 md:gap-6 max-w-3xl md:pr-12">
  <p class="text-white/70 font-medium md:text-base text-sm">
    Designed to rank. Written to convert. Built to connect. We help you own your space with messaging that reflects who you are and where
    you're going.
  </p>
  <!--
    <p class="title-main md:text-xl">Included Tools</p>
    <div class="flex flex-col items-start gap-2 md:text-base text-xs">
      <span class="bg-primary/10 text-primary title-main p-2">IgniteVault - Case studies, campaign strategy decks, creative showcases</span>
      <span class="bg-primary/10 text-primary title-main p-2">IgniteIQ - ROI calculators for multi-channel campaigns</span>
    </div>
  -->
  <div class="h-[250px] md:h-[375px] w-full overflow-hidden mt-4">
    <img
      src="{{ 'integrated-campaigns.webp' | asset_url }}"
      alt="Integrated Campaigns"
      class="w-full h-full object-cover"
    >
  </div>
</div>
