<div class="md:pb-20 pb-10 pt-4 bg-primary text-black">
  {% render 'about-banner' %}
  <div class="container md:pt-20 pt-10">
    <div class="font-oswald font-bold text-4xl md:text-7xl lg:text-9xl xl:text-[148px] uppercase leading-none">
      <div class="flex justify-end"><h2>Purpose-Driven.</h2></div>
      <div>
        <h2>Mission Focused.</h2>
      </div>
    </div>
    <div class="flex lg:flex-row flex-col pt-10 lg:pt-20 lg:gap-10 gap-4 xl:gap-20">
      <div class="lg:w-[35%] xl:w-[25%] h-[300px] md:h-[357px]">
        <img src="{{ 'car-img-gray.png' | asset_url }}" alt="Purpose Image" class="w-full h-full object-cover">
      </div>
      <div class="lg:w-[65%] xl:w-[75%] grid grid-cols-1 md:grid-cols-2 lg:gap-10 gap-4 xl:gap-20">
        <div class="flex flex-col gap-4">
          <p class="title-main">[ Our Purpose ]</p>
          <p class="text-black/70 md:text-base text-sm">
            To deliver unforgettable marketing and unparalleled value to businesses by deeply understanding their needs, creating
            transformative experiences, and inspiring meaningful connections. We exist to empower dreams, craft legacies, and redefine
            industries with authenticity, creativity, and relentless passion.
          </p>
        </div>
        <div class="flex flex-col gap-4">
          <p class="title-main">[ Our Mission ]</p>
          <p class="text-black/70 md:text-base text-sm">
            To empower businesses to shine on the biggest stages by delivering unforgettable, revenue-generating creative solutions. Through
            genuine creativity, intentional execution, and transformative experiences, we help our clients build their dreams and make
            lasting impact.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
