<div class="md:py-20 py-10">
  <div class="container">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 md:gap-20">
      <div class="h-[400px] md:h-full w-full">
        <img src="{{ 'meta-aura.webp' | asset_url }}" alt="blue print image" class="h-full w-full object-cover">
      </div>
      <div>
        <h2 class="font-oswald font-bold text-4xl md:text-[58px] uppercase leading-none">The Blueprint Behind the Brand</h2>
        <div class="flex justify-center pb-10">
          <img
            src="{{ 'bg-ellipse.png' | asset_url }}"
            alt="blue print image"
            class="h-[250px] md:w-[350px] md:h-[350px] w-[250px] object-cover"
          >
        </div>
        <div>
          <p class="text-white/70 md:text-base text-sm">
            I believe that true success, both personally and professionally, begins with clear priorities. Success at the cost of everything
            is not success at all. If we're going to achieve meaningful accomplishments in our endeavors, it must be for something greater
            than just business outcomes. For us as entrepreneurs, and for each member of our team, the order of our priorities is unwavering
          </p>
          <p class="title-main text-xl py-4">Faith, Family, Fitness, then our Work… then everything else.</p>
          <p class="text-white/70 md:text-base text-sm">
            These priorities serve as the compass guiding our decisions, actions, and the culture we build together. The following framework
            reflects these deeply-held beliefs, ensuring alignment, purpose, and meaningful success in all we do.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
