<div class="xl:pt-40 pt-20 md:pb-20 relative overflow-hidden">
  <div
    class="absolute inset-0 bg-center bg-cover opacity-30 z-0"
    style="background-image: url('{{ 'aura-bg.webp' | asset_url }}');"
  ></div>
  <div class="absolute top-0 left-0 right-0 h-40 bg-gradient-to-b from-black to-transparent z-20"></div>
  <div class="absolute bottom-0 left-0 right-0 h-40 bg-gradient-to-t from-black to-transparent z-20"></div>

  <div class="container z-20 relative h-full py-10 xl:py-20">
    <div class="xl:my-40">
      <div class="flex justify-between items-center flex-col xl:flex-row gap-4 relative">
        <h1 class="title-main text-primary">
          Where strategy meets execution <br>
          and growth gets personal.
        </h1>
        <div class="overflow-hidden h-[300px] md:h-[480px] w-full md:w-[536px] xl:absolute left-1/2 xl:-translate-x-1/2 top-1/2 xl:-translate-y-1/2">
          <img
            src="{{ 'legacy3.webp' | asset_url }}"
            alt="Aura Logo"
            class="w-full h-full object-cover"
          >
        </div>
        <div class="title-main flex gap-1.5 items-center text-primary">
          <a
            href="#projects"
            class="hover:-translate-y-0.5 hover:text-primary transition-all"
            target="_blank"
            >Scroll Down</a
          >
        </div>
      </div>
    </div>
    <div class="md:-mt-20 flex justify-center z-20 relative">
      <h2 class="text-[200px] md:text-[252px] font-oswald font-bold uppercase">Ads</h2>
    </div>
  </div>
</div>
