<div class=" pb-4  md:pb-10 bg-primary text-black">
  <div class="w-full pt-4 md:pt-8">
    <img src="{{ 'lines.png' | asset_url }}" alt="Images of multiple back slashes" class=" h-[25px] w-full object-cover">
  </div>
  <div class="container py-6 md:py-20">
    <div class="flex justify-between md:flex-row flex-col gap-4">
      <div class="flex flex-col items-start gap-4 max-w-lg">
        <p class="font-oswald font-medium uppercase">[ Our Ads ]</p>
      </div>
      <div class="flex flex-col gap-4 max-w-lg font-medium md:text-base text-sm">
        <p class="font-bold">
          Every ad strategy we craft is designed to scale with vision, backed by the grind that separates winners from talkers.
        </p>

        <p>
          From funnels and paid media to hands-on promotions and influencer outreach, we bring a full team's worth of energy into every
          campaign like it's our name on the line because to us, it is. This isn't plug-and-play marketing. It's calculated growth, backed
          by a team that shows up to win. Whatever it takes.
        </p>
      </div>
    </div>
  </div>
</div>
