{% assign text = 'Our Services,Our Services,Our Services,Our Services,Our Services' | split: ',' %}

<div
  class="flex overflow-hidden [--duration:100s] [--gap:1.5rem] md:[--gap:4rem] gap-[var(--gap)] bg-background text-white pt-10 md:pt-20 whitespace-nowrap font-oswald uppercase font-bold"
>
  {% for i in (1..5) %}
    <div class="flex shrink-0 justify-around gap-[var(--gap)] animate-marquee">
      {% for item in text %}
        <div class="flex items-center gap-6 md:gap-14 text-6xl md:text-[188px]">
          <span>
            {{ item }}
          </span>
          <i class="fa-solid fa-circle text-primary text-2xl md:text-6xl"></i>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
