<div class="h-screen">
  <div class="container h-full flex justify-center flex-col gap-10 items-center">
    <h1 class="title-main text-7xl text-center md:text-[200px]">Coming Soon</h1>
    <a
      href="/"
      class="inline-block hover:bg-primary/70 hover:text-black text-xs transition-all duration-300 bg-primary hover:-translate-y-0.5 text-black px-3 py-2.5 font-bold font-montserrat uppercase"
    >
      Go Back Home
    </a>
  </div>
</div>
