<div class=" pb-4  md:pb-10 bg-primary text-black">
  <div class="w-full pt-4 md:pt-8">
    <img src="{{ 'lines.png' | asset_url }}" alt="Images of multiple back slashes" class=" h-[25px] w-full object-cover">
  </div>
  <div class="container py-6 md:py-20">
    <div class="flex justify-between md:flex-row flex-col gap-4">
      <div class="flex flex-col items-start gap-4 max-w-lg">
        <p class="font-oswald font-medium uppercase">[ About Content ]</p>
      </div>
      <div class="flex flex-col gap-4 max-w-lg font-medium md:text-base text-sm">
        <p class="font-bold">Creative engineered to win. Production engineered to stick.</p>

        <p>
          At Aura, content is where it all started and it's still the heartbeat of everything we do. Everything we make has a job to do and
          we make sure it does it well. Our work is built to perform. Every video, graphic, and asset is designed to grab attention, drive
          results, and carry your brand further, faster. Creative from a team that's all-in, every time.
        </p>
      </div>
    </div>
  </div>
</div>
