<div class=" pb-4  md:pb-10 bg-primary text-black">
  <div class="w-full pt-4 md:pt-8">
    <img src="{{ 'lines.png' | asset_url }}" alt="Images of multiple back slashes" class=" h-[25px] w-full object-cover">
  </div>
  <div class="container py-6 md:py-20">
    <div class="flex justify-between md:flex-row flex-col gap-4">
      <div class="flex flex-col items-start gap-4 max-w-lg">
        <p class="font-oswald font-medium uppercase">[ About Copy ]</p>
      </div>
      <div class="flex flex-col gap-4 max-w-lg font-medium md:text-base text-sm">
        <p class="font-bold">Clear messaging. Confident brands. Words that do the work.</p>

        <p>
          At Aura, we believe copy should do more than "sound good", it should build something authentic. From website copy to SEO blogs to
          high-converting emails, we obsess over the details so your brand speaks with confidence and clarity everywhere it shows up.
          Because when your message is clear, your growth isn't optional, it's inevitable.
        </p>
      </div>
    </div>
  </div>
</div>
