<div class="h-[400px] md:h-[800px] bg-cover bg-center scale-x-[-1]" style="background-image:url({{ 'hero.webp' | asset_url }})">
  <div class="container flex flex-col items-center justify-center gap-10 md:gap-20 h-full text-center scale-x-[-1]">
    <h3 class="font-oswald font-bold text-5xl md:text-[100px] uppercase leading-none">
      Make it Count. <br>
      Make it Work.
    </h3>
    <a
      href="/pages/about"
      class="inline-block hover:bg-primary/70 hover:text-black md:text-base text-sm transition-all duration-300 bg-primary hover:-translate-y-0.5 text-black px-3 py-2.5 font-bold font-montserrat uppercase"
    >
      Start Your Campaign
    </a>
  </div>
</div>
