<div class="md:py-20 py-10">
  <div class="container">
    <div class="flex flex-col items-center gap-4 text-center">
      <h2 class="title-main text-6xl md:text-[100px]">GET A FREE GUIDE</h2>
      <p class="max-w-xl text-white/70 md:text-base text-sm">
        Built for brands that refuse to fade into the algorithm. Teams that need a constant flow of quality content without the chase.
        Founders who want their brand presence to match their results.
      </p>
      <p class="max-w-xl text-white/70 md:text-base text-sm">Your vision, our execution brought to life.</p>
    </div>
    <div class="flex justify-center">
      <div class="bg-white/70 w-full max-w-3xl h-[400px] flex justify-center items-center mt-10 md:mt-20">
        <p class="text-center text-black">Fill OUT HERE</p>
      </div>
    </div>
  </div>
</div>
