<div class="md:pt-20 pb-4 pt-10 md:pb-10 bg-primary text-black">
  <div class="container">
    <div class="flex justify-between md:flex-row flex-col gap-4">
      <div class="flex flex-col items-start gap-4 max-w-lg">
        <p class="font-oswald font-medium uppercase">[ Born From Hustle. Built For Legends ]</p>
        <a
          href="/pages/about"
          class="inline-block bg-background text-primary px-5 py-2 font-medium font-oswald uppercase"
        >
          Learn More
        </a>
      </div>
      <div class="flex flex-col gap-4 max-w-lg font-medium md:text-base text-sm">
        <p>
          Aura Creations began not in a boardroom, but behind the lens of a single camera—fueled by ambition, creativity, and the belief
          that powerful storytelling could transform businesses. What started as a hustle became a calling: to help brands break through the
          noise and make their mark through bold, strategic content that doesn't just look good—but performs.
        </p>

        <p>
          From late-night edits and grassroots shoots to full-scale campaigns and global brand partnerships, Aura has grown into a trusted
          creative force for visionary entrepreneurs and culture-defining brands alike. Today, we don't just produce content—we architect
          moments, craft strategies, and deliver experiences that move audiences and reshape industries. Every campaign is a chance to raise
          the bar, every project a step toward redefining what's possible.
        </p>
      </div>
    </div>
    <div class="flex gap-1 items-end md:pt-0 pt-4">
      <div class="w-[350px] h-[450px] md:block hidden">
        <img src="{{ 'about-img.jpg' | asset_url }}" alt="About Hero" class="w-full h-full object-cover">
      </div>
      <div class="flex items-end md:justify-start justify-center w-full md:w-auto">
        <h2 class="font-oswald font-bold uppercase text-[125px] md:text-[22vw] lg:text-[22vw] xl:text-[325px] leading-none">About</h2>
      </div>
    </div>
  </div>
</div>
