<div class="md:py-20 py-10">
  <div class="container">
    <div>
      <div class="title-main border-b border-white/10 group hover:bg-primary px-4 transition-all duration-300 hover:text-black">
        <a href="/pages/services" class="">
          <div class="py-6 md:py-16">
            <div class="flex justify-between items-center relative ">
              <span>[ 01 ]</span>
              <p class="text-2xl lg:text-4xl md:absolute md:left-1/2 md:transform md:-translate-x-1/2">Integrated Campaigns</p>
              <div class="lg:flex hidden gap-2 items-center">
                <span class="bg-primary/20 text-primary lg:text-base text-sm p-2 group-hover:bg-black">Campaign Strategy</span>
                <span class="bg-primary/20 text-primary lg:text-base text-sm p-2 group-hover:bg-black">Brand Messaging</span>
              </div>
            </div>
            <div class="md:hidden flex gap-2 mt-6 justify-end items-center">
              <span class="bg-primary/20 text-primary text-sm p-2 group-hover:bg-black">Campaign Strategy</span>
              <span class="bg-primary/20 text-primary text-sm p-2 group-hover:bg-black">Brand Messaging</span>
            </div>
          </div>
        </a>
      </div>
      <div class="title-main border-b border-white/10 group hover:bg-primary px-4 transition-all duration-300 hover:text-black">
        <a href="/pages/services" class="">
          <div class="py-6 md:py-16">
            <div class="flex justify-between items-center relative ">
              <span>[ 02 ]</span>
              <p class="text-2xl lg:text-4xl md:absolute md:left-1/2 md:transform md:-translate-x-1/2">Content & Creative</p>
              <div class="lg:flex hidden gap-2 items-center">
                <span class="bg-primary/20 text-primary lg:text-base text-sm p-2 group-hover:bg-black">Video Production</span>
                <span class="bg-primary/20 text-primary lg:text-base text-sm p-2 group-hover:bg-black">Graphic Design</span>
              </div>
            </div>
            <div class="md:hidden flex gap-2 mt-6 justify-end items-center">
              <span class="bg-primary/20 text-primary text-sm p-2 group-hover:bg-black">Video Production</span>
              <span class="bg-primary/20 text-primary text-sm p-2 group-hover:bg-black">Graphic Design</span>
            </div>
          </div>
        </a>
      </div>
      <div class="title-main border-b border-white/10 group hover:bg-primary px-4 transition-all duration-300 hover:text-black">
        <a href="/pages/services" class="">
          <div class="py-6 md:py-16">
            <div class="flex justify-between items-center relative ">
              <span>[ 03 ]</span>
              <p class="text-2xl lg:text-4xl md:absolute md:left-1/2 md:transform md:-translate-x-1/2">Lead Generation & Funnels</p>
              <div class="lg:flex hidden gap-2 items-center">
                <span class="bg-primary/20 text-primary lg:text-base text-sm p-2 group-hover:bg-black">Email Funnels</span>
                <span class="bg-primary/20 text-primary lg:text-base text-sm p-2 group-hover:bg-black">Landing Pages</span>
              </div>
            </div>
            <div class="md:hidden flex gap-2 mt-6 justify-end items-center">
              <span class="bg-primary/20 text-primary text-sm p-2 group-hover:bg-black">Email Funnels</span>
              <span class="bg-primary/20 text-primary text-sm p-2 group-hover:bg-black">Landing Pages</span>
            </div>
          </div>
        </a>
      </div>
      <div class="title-main border-b border-white/10 group hover:bg-primary px-4 transition-all duration-300 hover:text-black">
        <a href="/pages/services" class="">
          <div class="py-6 md:py-16">
            <div class="flex justify-between items-center relative ">
              <span>[ 04 ]</span>
              <p class="text-2xl lg:text-4xl md:absolute md:left-1/2 md:transform md:-translate-x-1/2">Digital Presence</p>
              <div class="lg:flex hidden gap-2 items-center">
                <span class="bg-primary/20 text-primary lg:text-base text-sm p-2 group-hover:bg-black">Web Design</span>
                <span class="bg-primary/20 text-primary lg:text-base text-sm p-2 group-hover:bg-black">SEO</span>
              </div>
            </div>
            <div class="md:hidden flex gap-2 mt-6 justify-end items-center">
              <span class="bg-primary/20 text-primary text-sm p-2 group-hover:bg-black">Web Design</span>
              <span class="bg-primary/20 text-primary text-sm p-2 group-hover:bg-black">SEO</span>
            </div>
          </div>
        </a>
      </div>
      <div class="title-main border-b border-white/10 group hover:bg-primary px-4 transition-all duration-300 hover:text-black">
        <a href="/pages/services" class="">
          <div class="py-6 md:py-16">
            <div class="flex justify-between items-center relative ">
              <span>[ 05 ]</span>
              <p class="text-2xl lg:text-4xl md:absolute md:left-1/2 md:transform md:-translate-x-1/2">Physical Product Design</p>
              <div class="lg:flex hidden gap-2 items-center">
                <span class="bg-primary/20 text-primary lg:text-base text-sm p-2 group-hover:bg-black">Packaging</span>
                <span class="bg-primary/20 text-primary lg:text-base text-sm p-2 group-hover:bg-black">Merch</span>
                <span class="bg-primary/20 text-primary lg:text-base text-sm p-2 group-hover:bg-black">PR</span>
              </div>
            </div>
            <div class="md:hidden flex gap-2 mt-6 justify-end items-center">
              <span class="bg-primary/20 text-primary text-sm p-2 group-hover:bg-black">Packaging</span>
              <span class="bg-primary/20 text-primary text-sm p-2 group-hover:bg-black">Merch</span>
              <span class="bg-primary/20 text-primary text-sm p-2 group-hover:bg-black">PR</span>
            </div>
          </div>
        </a>
      </div>
      <div class="title-main border-b border-white/10 group hover:bg-primary px-4 transition-all duration-300 hover:text-black">
        <a href="/pages/services" class="">
          <div class="py-6 md:py-16">
            <div class="flex justify-between items-center relative ">
              <span>[ 06 ]</span>
              <p class="text-2xl lg:text-4xl md:absolute md:left-1/2 md:transform md:-translate-x-1/2">Paid Media</p>
              <div class="lg:flex hidden gap-2 items-center">
                <span class="bg-primary/20 text-primary lg:text-base text-sm p-2 group-hover:bg-black">Meta Ads</span>
                <span class="bg-primary/20 text-primary lg:text-base text-sm p-2 group-hover:bg-black">Google Ads</span>
                <span class="bg-primary/20 text-primary lg:text-base text-sm p-2 group-hover:bg-black">Ad Management</span>
              </div>
            </div>
            <div class="md:hidden flex gap-2 mt-6 justify-end items-center">
              <span class="bg-primary/20 text-primary text-sm p-2 group-hover:bg-black">Meta Ads</span>
              <span class="bg-primary/20 text-primary text-sm p-2 group-hover:bg-black">Google Ads</span>
              <span class="bg-primary/20 text-primary text-sm p-2 group-hover:bg-black">Ad Management</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="pt-40">
      {% render 'banner-dark' %}
    </div>
  </div>
</div>
