<div class="md:py-20 py-10">
  <div class="container">
    <div>
      <p class="title-main text-[26px] md:text-[40px] lg:text-[45px] leading-tight">
        Aura
        <span class="bg-white/10 rounded-full md:h-[45px] h-[24px] md:w-[45px] w-[24px] md:p-2 inline-flex justify-center items-center"
          ><img src="{{ 'aura-logo-color.png' | asset_url }}" alt="Aura Logo" class="h-[20px] md:h-[40px] w-auto object-contain"
        ></span>
        and Launchpoint
        <span class="bg-white/10 rounded-full md:h-[45px] h-[24px] md:w-[45px] w-[24px] md:p-2 inline-flex justify-center items-center"
          ><img src="{{ 'lp-logo-white.png' | asset_url }}" alt="Launchpoint Logo" class="h-[20px] md:h-[40px] w-auto object-contain"
        ></span>
        have teamed up to give hard-working home service pros everything they need to run a smoother, smarter, more profitable business
        without adding more to their plate. This package bundles the tools, systems, and marketing that keep your phone ringing, your jobs
        booked, and your time freed up to focus on what really matters.
      </p>
    </div>
    <div class="mt-10 grid grid-cols-1 lg:grid-cols-2 gap-10">
      <div class="relative">
        <div class="bg-gradient-to-t h-[50%] from-background to-transparent absolute bottom-0 left-0 right-0 z-10"></div>
        <span class="absolute top-0 left-0 w-5 h-5 border-t-1 border-l-1 border-primary z-20"></span>
        <span class="absolute top-0 right-0 w-5 h-5 border-t-1 border-r-1 border-primary z-20"></span>
        <div class="bg-white/5 p-8 md:p-14">
          <h3 class="title-main text-3xl md:text-4xl mb-6"><span class="text-[#FF9010]">FlowOps builds</span> the infrastructure</h3>
          <p class="text-white/70 md:text-lg">
            You get the foundation your business needs—a website built to bring in jobs, fully connected to your CRM, and ready to plug
            straight into your marketing.
          </p>
          <div>
            <img src="{{ 'the-infrastructure.png' | asset_url }}" alt="FlowOps Icon" class="h-auto md:h-[418px] w-full md:w-auto mt-4">
          </div>
        </div>
      </div>
      <div class="relative">
        <div class="bg-gradient-to-t h-[50%] from-background to-transparent absolute bottom-0 left-0 right-0 z-10"></div>
        <span class="absolute top-0 left-0 w-5 h-5 border-t-1 border-l-1 border-primary z-20"></span>
        <span class="absolute top-0 right-0 w-5 h-5 border-t-1 border-r-1 border-primary z-20"></span>
        <div class="bg-white/5 p-8 md:p-14">
          <h3 class="title-main text-3xl md:text-4xl mb-6"><span class="text-[#009DFF]">CampaignOps</span> activates it</h3>
          <p class="text-white/70 md:text-lg">
            We flip the switch—running ads, content, and follow-ups that drive qualified leads straight into your system and keep your
            calendar full.
          </p>
          <div>
            <img src="{{ 'campaignops.png' | asset_url }}" alt="FlowOps Icon" class="h-auto md:h-[418px] w-full md:w-auto mt-4">
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-10">
      <a
        href="/pages/about"
        class="inline-block hover:bg-primary/70 hover:text-black md:text-base text-sm transition-all duration-300 bg-primary hover:-translate-y-0.5 text-black px-3 py-2.5 font-bold font-montserrat uppercase"
      >
        Book Now
      </a>
    </div>
  </div>
</div>
