<div class="md:py-20 py-10">
  <div class="container">
    <div class="grid md:grid-cols-2 grid-cols-1 gap-4 md:gap-10 items-center">
      <h2 class="title-main text-3xl md:text-[40px] max-w-lg">Marketing That Moves—Because the System Works</h2>
      <p class="md:text-lg">
        FlowOps builds the infrastructure. CampaignOps activates it. Together, they turn strategy into scalable growth—wired to convert,
        built to last.
      </p>
    </div>

    <div class="bg-white/10 rounded-lg px-6 py-10 md:py-16 mt-10 md:mt-20 flex justify-center flex-col items-center md:flex-row md:items-start gap-4 md:gap-10 min-h-[600px] relative z-0">
      <div class="absolute bottom-0 left-0 bg-gradient-to-t from-background to-transparent h-1/4 md:h-1/2 z-10 w-full"></div>
      <div class="md:w-[462px] w-full">
        <h3 class="text-[#FF9010] title-main text-3xl md:text-[35px]">FlowOps</h3>
        <div class="bg-gradient-to-b from-white/5 via-white/5 to-transparent rounded-lg px-6 pt-6 pb-20 flex flex-col gap-4 mt-4">
          <span class="bg-white/5 py-2 px-2 md:px-4 rounded-lg md:text-base text-sm lg:text-xl">Website</span>
          <span class="bg-white/5 py-2 px-2 md:px-4 rounded-lg md:text-base text-sm lg:text-xl">CRM Setup</span>
          <span class="bg-white/5 py-2 px-2 md:px-4 rounded-lg md:text-base text-sm lg:text-xl">Automation Infrastructure</span>
          <span class="bg-white/5 py-2 px-2 md:px-4 rounded-lg md:text-base text-sm lg:text-xl">Conversion Tools</span>
        </div>
      </div>

      <div class="md:flex hidden self-center mt-20">
        <img src="{{'arrows.png' | asset_url }}" alt="Arrows" class="h-[200px] w-auto">
      </div>

      <div class="md:w-[462px] w-full md:mt-14">
        <h3 class="text-[#009DFF] title-main text-3xl md:text-[35px]">CampaignOps</h3>
        <div class="bg-gradient-to-b from-white/5 via-white/5 to-transparent rounded-x-lg rounded-t-xl px-6 pt-6 pb-20 flex flex-col gap-4 mt-4 border-x border-t border-white/20">
          <span class="bg-white/5 py-2 px-2 md:px-4 rounded-lg md:text-base text-sm lg:text-xl">Campaign strategy</span>
          <span class="bg-white/5 py-2 px-2 md:px-4 rounded-lg md:text-base text-sm lg:text-xl">Ad Launches & Testing</span>
          <span class="bg-white/5 py-2 px-2 md:px-4 rounded-lg md:text-base text-sm lg:text-xl">Content & Creative Delivery</span>
          <span class="bg-white/5 py-2 px-2 md:px-4 rounded-lg md:text-base text-sm lg:text-xl">Revenue Acceleration</span>
        </div>
      </div>
    </div>
    <div class="md:text-xl text-sm text-center font-medium py-6">
      <p>FlowOps builds the system. CampaignOps turns it on.</p>
      <p>Structure without motion doesn't move. Motion without structure doesn't scale.</p>
    </div>
    <div class="flex items-center justify-center gap-4 md:gap-6 md:pt-10">
      <a
        href="/pages/about"
        class="inline-block hover:bg-primary/70 hover:text-black md:text-base text-sm transition-all duration-300 bg-primary hover:-translate-y-0.5 text-black px-3 py-2.5 font-bold font-montserrat uppercase"
      >
        Book Now
      </a>
      <a
        href="/pages/about"
        class="inline-block hover:bg-[#D4FF3AB2]/70 hover:text-black md:text-base text-sm transition-all duration-300 bg-[#D4FF3AB2] hover:-translate-y-0.5 text-black px-3 py-2.5 font-bold font-montserrat uppercase"
      >
        See What You'll Get
      </a>
    </div>
  </div>
</div>
