<div class="md:py-20 py-10">
  <div class="container">
    <div class="text-center flex flex-col items-center gap-4">
      <h2 class="font-oswald font-bold text-3xl md:text-[40px] uppercase">Don"t Build It Yourself.</h2>
      <p class="max-w-2xl md:px-10 md:text-base text-sm">
        You wouldn't have a plumber rewire your house or a roofer install your furnace so why try to build the technical system that runs
        your business?
      </p>
    </div>

    <div class="flex flex-col gap-2 mt-10 md:mt-20 max-w-5xl mx-auto">
      {% render 'dont-build-yourself-card',
        title: "You're a plumber, not a web designer or tech expert, (and thats okay)",
        description: "We'll build a website that works - fast, mobile-friendly, and set up to book real jobs, not just look nice."
      %}
      {% render 'dont-build-yourself-card',
        title: "Can't talk to clients when you're on a ladder or under a sink? That's what your CRM is for.",
        description: 'We set up a system that tracks, tags, and follows up with leads automatically, so nothing gets lost in the shuffle.'
      %}
      {% render 'dont-build-yourself-card',
        title: "What if follow-ups happened while you're still on the job?",
        description: "We wire in automated emails, texts, and reminders that follow up with quotes, next steps, and more, all while you're doing the work."
      %}
      {% render 'dont-build-yourself-card',
        title: '“I thought someone was getting back to me…”',
        description: "We've heard it a million times. Our system makes sure your clients never feel forgotten, even when you're running full throttle."
      %}
      {% render 'dont-build-yourself-card',
        title: 'Your Work Deserves to Be Seen',
        description: "We run the ads, post the content, and keep your name in front of the right people, so when they need your service, you're the first call they make."
      %}
    </div>
  </div>
</div>
