<div class="md:py-20 py-10">
  <div class="container">
    <div class="text-center flex flex-col items-center gap-4">
      <h2 class="font-oswald font-bold text-3xl md:text-[40px] uppercase">Don't Build It Yourself.</h2>
      <p class="max-w-2xl md:px-10 md:text-base text-sm">
        You wouldn't have a plumber rewire your house or a roofer install your furnace so why try to build the technical system that runs
        your business?
      </p>
    </div>

    <div class="flex flex-col gap-2 mt-10 md:mt-20 max-w-5xl mx-auto">
      {% render 'dont-build-yourself-card',
        title: "Campaign You do the work. We'll keep your business running behind the scenes strategy & Execution",
        description: 'Websites, follow-up, and client management - handled, so you can stay focused on the job.'
      %}
      {% render 'dont-build-yourself-card',
        title: "Campaign You do the work. We'll keep your business running behind the scenes strategy & Execution",
        description: 'Websites, follow-up, and client management - handled, so you can stay focused on the job.'
      %}
      {% render 'dont-build-yourself-card',
        title: "Campaign You do the work. We'll keep your business running behind the scenes strategy & Execution",
        description: 'Websites, follow-up, and client management - handled, so you can stay focused on the job.'
      %}
      {% render 'dont-build-yourself-card',
        title: "Campaign You do the work. We'll keep your business running behind the scenes strategy & Execution",
        description: 'Websites, follow-up, and client management - handled, so you can stay focused on the job.'
      %}
      {% render 'dont-build-yourself-card',
        title: 'Your Work Deserves to Be Seen',
        description: 'We run the ads, post the content, and keep your name in front of the right people, so when they need your service, you’re the first call they make.'
      %}
    </div>
  </div>
</div>
