<div class=" lg:pb-0 pb-10 bg-primary text-black">
  <div class="w-full pt-4 md:pt-8">
    <img src="{{ 'lines.png' | asset_url }}" alt="Images of multiple back slashes" class=" h-[25px] w-full object-cover">
  </div>
  <div class="container md:pt-32 pt-10">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 md:gap-4 lg:gap-10 xl:gap-20 ">
      <div class="flex items-end justify-center">
        <img
          src="{{ 'we-build.webp' | asset_url }}"
          alt="We Build Icon"
          class="h-auto md:h-[369px] object-contain w-full md:w-auto object-bottom"
        >
      </div>
      <div class="md:text-xl xl:text-2xl font-medium px-4 xl:px-10 leading-relaxed">
        <p>
          <span class="font-bold">You Build America. We Build the System That Works While You Do.</span> You've spent years earning the
          reviews, the referrals, and the reputation. But you didn't bust your ass just to keep chasing jobs. The business you dreamed of is
          on the other side of a system that actually works and it's ready to go to work for you.
        </p>
      </div>
    </div>
  </div>
</div>
