<div class="md:py-20 py-10 h-[500px] md:h-[900px] bg-cover bg-center" style="background-image: url({{"testimonial.webp" | asset_url}});">
  <div class="container h-full flex items-end justify-end">
    <div class="bg-primary text-black p-4 md:p-6 flex flex-col gap-8 md:gap-14 max-w-xs md:max-w-md">
      <p class="title-main text-lg md:text-3xl">
        Strategy, quality, and culture all in one place. Aura didn't just market our business—they transformed it.”
      </p>
      <p class="md:text-base text-sm">6-figure founder, NYC</p>
    </div>
  </div>
</div>
