<div>
  {% section 'landing-hero' %}
  {% section 'landing-about' %}
  {% section 'banner' %}
  {% section 'landing-services' %}
  {% section 'landing-legacies' %}
  {% section 'landing-bundles' %}
  {% section 'landing-vault' %}
  {% section 'landing-industries' %}
  {% section 'testimonials' %}
  {% section 'socials' %}
</div>
