<div>
  {% section 'offer-hero' %}
  {% section 'offer-we-build' %}
  {% section 'offer-dont-build-yourself' %}
  {% section 'offer-teamup' %}
  {% section 'offer-heres-the-deal' %}
  {% section 'offer-marketing-moves' %}
  {% section 'free-guide' %}
</div>
