<div>
  {% section 'ads-hero' %}
  {% section 'ads-about' %}
  {% section 'ads-services' %}
  {% section 'free-guide' %}
  {% section 'ads-projects' %}
  {% section 'socials' %}
  {% section 'cta' %}
</div>
