<div>
  {% section 'copy-hero' %}
  {% section 'copy-about' %}
  {% section 'copy-services' %}
  {% section 'free-guide' %}
  {% section 'copy-projects' %}
  {% section 'socials' %}
  {% section 'cta' %}
</div>
