<div>
  {% section 'content-hero' %}
  {% section 'content-about' %}
  {% section 'content-services' %}
  <!-- {% section 'free-guide' %} -->
  {% section 'content-projects' %}
  {% section 'socials' %}
  {% section 'cta' %}
</div>
